version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      MYSQL_DATABASE: wallet_point
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u$MYSQL_USER -p$MYSQL_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5


  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: '${MYSQL_USER}'
      PMA_PASSWORD: '${MYSQL_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
    ports:
      - "8087:80"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      GIN_MODE: debug
      SERVER_HOST: xeroon.my.id
      SERVER_PORT: 8102

      DB_HOST: db
      DB_PORT: 3306
      DB_USER: '${MYSQL_USER}'
      DB_PASSWORD: '${MYSQL_PASSWORD}'
      DB_NAME: wallet_point

      JWT_SECRET: '${JWT_SECRET}'
      JWT_EXPIRY_HOURS: '${JWT_EXPIRY_HOURS}'
      ALLOWED_ORIGINS: '${ALLOWED_ORIGINS}'
      MAX_UPLOAD_SIZE: '${MAX_UPLOAD_SIZE}'
      UPLOAD_PATH: '${UPLOAD_PATH}'
    ports:
      - "8102:8102"

volumes:
  mysql_data: